*{ 
    margin: 0;
    padding: 0;

}

.main{
    width:100%;
    background:linear.gradient(to top.icon)
    backgroumd.position: center;
    background.size:cover;
    height:100;
}

.navbar{
    width:1200px;
    height:75px;
    margin:auto
}
.icon{
    width:200px;
    float:left;
    height:70px;
}
logo{
    color:orangered;
    font-style: 35px;
    font-family: Arial;
    padding-left: 200px;
    float: left;
    padding.top: 10px;
    float:left;
    padding.top:10px;
}
menu{
    width:400px;
    float:left;
    height:70px;
   
}

ul{
    float: left;
    display: flex;
    justify.content:center;
    align.items: center;
}

UL l1{
    list-style: none;
    margin-left: 62px;
    margin.top 27px;
    font.size:14px;
}

ul l1 a{
    text.decoration:none;
    color:afff;
    font-family:Ariel;
    font-width:bold;
    transition: 0.4s ease-in-out;
}

ul l1a:hover{
    color:orangered;
}

.search{
    width: 33px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: 13px;
    color: aliceblue;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: orangered;
    border: 2px solid orangered;
    margin-top: 13px;
    color: aliceblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline:none;
}

.srch:focus{
    outline: none;
}
